[Unit]
Description={{description}}
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5000ms
User=root
ExecStart=node {{installdir}}/src/server.mjs
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

RuntimeDirectory={{name}}
StateDirectory={{name}}
ConfigurationDirectory={{name}}

[Install]
WantedBy=multi-user.target
