[Unit]
Description=ngcnc %H-%i
Requires=network-online.target
After=network-online.target
[Service]
Restart=on-failure
RestartSec=5000ms
User=root
WorkingDirectory=/var/ngcnc
ExecStart=/srv/kronos/bin/ngcnc
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
